<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Sebastian Armano" %></title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900,300' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">

    <header class="centered-navigation" role="banner">
      <div class="centered-navigation-wrapper">
        <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
        <nav role="navigation">
          <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
            <li class="nav-link"><%= link_to "Software Projects", "#software-projects" %></li>
            <li class="nav-link"><%= link_to "Hardware Projects", "#hardware-projects" %></li>
            <li class="nav-link"><%= link_to "Volunteering & Social", "#volunteering" %></li>
            <li class="nav-link"><%= link_to "About Me", "#about" %></li>
            <li class="nav-link"><%= link_to "Contact Me", "#about" %></li>
            <li class="nav-link"><%= link_to "Blog", "/blog" %></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <div class="content-wrapper">
        <div class="footer-2" role="contentinfo">
          <ul>
            <li>©Copyright Sebastian Armano 2016</li>
          </ul>

          <div class="footer-secondary-links">
            <ul>
              <li><%= link_to "Created with Middleman", "https://middlemanapp.com/" %></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <%= google_analytics_universal_tag %>
  </body>
</html>



