<div class="card">
  <% link_to "https://festilite.herokuapp.com/#/participants" do %>
    <div class="card-image">
      <%= image_tag project["image"] %>
    </div>
    <div class="card-header">
      <%= project["name"] %>
    </div>
    <div class="stats">
      <ul>
        <% project["technologies"].each do |technology| %>
          <li>
            <%= technology["name"] %>
            <span><%= technology["category"] %></span>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="card-copy">
      <p><%= project["description"] %></p>
    </div>
  <% end  %>
</div>
