---
title: Sebastian Armano
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <%= image_tag "sebastian.jpg", class: "hero-picture" %>
      <h1>Sebastian Armano</h1>
      <p> I'm an Electrical Engineer, and Back End Developer Graduate at The Iron Yard Academy. 
      I'm also a co-founder of the first Electronics R&D academic spin-off in Argentina.</p>
    </div>
    <%= button_to "Resume", "resources/resume_web.pdf" %>
  </div>
</div>

<div class="projects">
  <div class="cards-wrapper">
    <h1 class="headline"><span>Software Projects</span></h1>
    <div class="cards">
      <div class="card">
      <% link_to "https://festilite.herokuapp.com/#/participants" do %>
        <div class="card-image">
          <%= image_tag "festi.png" %>
        </div>
        <div class="card-header">
          Festi
        </div>
          <div class="stats">
            <ul>
              <li>Rails<span>Backend</span></li>
              <li>Ember<span>Front End</span></li>
              <li>Bootstrap<span>Front End</span></li>
            </ul>
          </div>

        <div class="card-copy">
          <p>
          Festi is an event management system, currently tailored to Shakori Hills and Virginia Key GrassRoots Music Festivals. We provide ticket check-in for 10,000+ participants (volunteers, performers, customers, vendors).
          </p>
        </div>
    <% end  %>
      </div>

      <div class="card">
        <% link_to "https://itunes.apple.com/us/app/apple-store/id979010199?pt=117727983&ct=web&mt=8" do %>
        <div class="card-image">
          <%= image_tag "vijilent.png" %>
        </div>
        <div class="card-header">
          Vijilent
        </div>
          <div class="stats">
            <ul>
              <li>Node<span>Back End</span></li>
              <li>Objective-C<span>iPhone Front End</span></li>
            </ul>
          </div>
        <div class="card-copy">
          <p>Vijilent uses predictive analytics to give peace of mind to consumers who meet online. We search publicly available databases across the internet to calculate a V-Score—a rating system scoring users on a scale of 1-100 based on the Veracity, Verifiability, Virtue and V-fit of the individual's web presence.</p>
        </div>
      <% end %>
      </div>

      <div class="card">
        <% link_to "http://acumine.com.ar/" do %>
        <div class="card-image">
          <%= image_tag "acumine.png" %>
        </div>
        <div class="card-header">
          Acumine Argentina Website
        </div>
          <div class="stats">
            <ul>
              <li>Photoshop<span>Design</span></li>
              <li>Bootstrap<span>Front End</span></li>
            </ul>
          </div>
        <div class="card-copy">
          <p>Website of the first academic spin-off in Argentina. Acumine Argentina develops technologies to solve industrial problems like open pit mining safety, train operation logistics for steel manufactring companies and dispatch systems for firefighter forces.</p>
        </div>
      </div>
    <% end  %>
    </div>

    <div class="cards">
      <% link_to "https://github.com/sebarmano/Surf-Paddle" do %>
      <div class="card">
        <div class="card-image">
          <%= image_tag "surfpaddle.png" %>
        </div>
        <div class="card-header">
          Surf & Paddle Website
        </div>
          <div class="stats">
            <ul>
              <li>Middleman<span>Static Site Generator</span></li>
              <li>Foundation<span>Front End</span></li>
            </ul>
          </div>
        <div class="card-copy">
          <p>The Iron Yard HTML & CSS project to replicate with pixel perfection a website mockup given a pdf file with the design</p>
        </div>
      <% end %>
      </div>

      <div class="card">
        <% link_to "https://github.com/sebarmano/loopoll" do %>
        <div class="card-image">
          <%= image_tag "loop-oll.png" %>
        </div>
        <div class="card-header">
          Loop-oll
        </div>
          <div class="stats">
            <ul>
              <li>Rails<span>Back End</span></li>
              <li>jQuery/AJAX<span>Front End</span></li>
              <li>Twitter<span>Integration</span></li>
            </ul>
          </div>
        <div class="card-copy">
          <p>Group project done together with Mae Beale for The Iron Yard. Loop-oll is a question and answers application to run surveys about anything. It provides charts for the given answers, it is integrated with Twitter to create and tweet your questions and uses AJAX to avoid unneded page reloads.</p>
        </div>
      <% end %>
      </div>

      <div class="card">
        <% link_to "https://github.com/sebarmano/Blackjack" do %>
        <div class="card-image">
          <%= image_tag "blackjack.jpg" %>
        </div>
        <div class="card-header">
          Blackjack Game
        </div>
          <div class="stats">
            <ul>
              <li>Ruby<span>Language</span></li>
            </ul>
          </div>
        <div class="card-copy">
          <p>Command line Blackjack game that was the first project for The Iron Yard course after one week of training in ruby.</p>
        </div>
      <% end  %>
      </div>
    </div>
  </div>
</div>
<div class="message">
  <div class="message-wrapper">
    <div class="side-image">
      <div class="images-wrapper"></div>
      <div class="side-image-content">
        <h1>Let's work together!</h1>
        <p>Originally from Argentina with an Electrical Engineering background. I have always been passionate about software development with the aim of complementing with my hardware skills.
        I’m very serious about the process of maintaining and writing quality code, paying special attention  to tests, security and version control, as well as finding opportunities to both broaden and deepen my skillset. I also enjoy playing social team sports such as basketball and soccer and travelling.</p>
        <p>I really enjoy taking on new challenges and I always give my best to add the most value to every team. Let's work together!</p>
    <%= button_to "Get in touch", "mailto:sebarmano@gmail.com" %>
      </div>
    </div>
  </div>
</div>
