---
title: Sebastian Armano
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Sebastian Armano</h1>
      <p> I'm an Electrical Engineer, and Developer Graduate at The Iron Yard Academy. 
      I'm also a co-founder of the first Electronics R&D academic spin-off in Argentina.</p>
    </div>
    <%= link_to "Resume", "resources/resume_web.pdf", class: "button" %>
  </div>
</div>

<div class="projects">
  <div class="cards-wrapper">
    <h1 class="headline"><span>Software Projects</span></h1>
    <div class="cards">
      <% data["software_projects"].each do |project| %>
        <%= partial "project_card", locals: { project: project } %>
      <% end %>
    </div><!-- cards -->
  </div><!-- cards-wrapper -->
</div><!-- projects -->

<div class="projects">
  <div class="cards-wrapper">
    <h1 class="headline"><span>Hardware Projects</span></h1>
    <div class="cards">
      <% data["hardware_projects"].each do |project| %>
        <%= partial "project_card", locals: { project: project } %>
      <% end %>
    </div><!-- cards -->
  </div><!-- cards-wrapper -->
</div><!-- projects -->

<div class="volunteering">
  <div class="bullets-wrapper">
    <h1 class="headline"><span>Volunteering & Social</span></h1>
    <ul class="bullets">
    <% data["volunteering"].each do |vol| %>
      <%= partial "volunteering_bullet", locals: { vol: vol } %>
    <% end %>
    </ul>
  </div>
</div>

<div class="message">
  <div class="message-wrapper">
    <div class="side-image">
      <div class="images-wrapper"></div>
      <div class="side-image-content">
        <h1>Let's work together!</h1>
        <p>Originally from Argentina with an Electrical Engineering background. I have always been passionate about software development with the aim of complementing with my hardware skills.
        I’m very serious about the process of maintaining and writing quality code, paying special attention  to tests, security and version control, as well as finding opportunities to both broaden and deepen my skillset. I also enjoy playing social team sports such as basketball and soccer and travelling.</p>
        <p>I really enjoy taking on new challenges and I always give my best to add the most value to every team. Let's work together!</p>
    <%= link_to "Get in touch", "mailto:sebarmano@gmail.com", class: "button" %>
      </div>
    </div>
  </div>
</div>
